body{
  background-color: #fafafa;
}

/** Maing Blog */
.container{
  margin: 0 auto;
  width: 90%;
}

.searchArticle{
  float: right;
  margin: 10px 15px;
  padding: 10px;
}

.search-input{
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px 10px;
  background: transparent;
  color: #aaa;
}

.error{
  font-size: 18px;
  font-family: cursive;
  color: firebrick;
  text-align: center;
}

.articleFormTitle{
  text-align: center;
  font-size: 24px;
  color: navy;
  border-top: 1px solid #ccc;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-right: 20px;
  margin-left: 30px;
}



/** Article */
.article{
  margin: 10px 15px;
  padding: 10px;
}

.article .header{
  width: 100%;
  display: inline-block;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.article .wrapper{
  float: left;
  padding: 0 10px;
}

.article .title{
  font-size: 24px;
  font-family: sans-serif;
  color: #000;
  margin-bottom: 10px;
}

.article .title:hover{
  color: #02A8F6;
  cursor: pointer;
}

.article .date{
  font-size: 16px;
  color: #aaa;
}

.article .buttons{
  float: right;
}

.article button{
  display: inline;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  margin: 10px 0;
  float: right;
  color: gray;
}

.article button:hover{
  cursor: pointer;
  background-color: silver;
}

.article .remove-button{
  /** Empty */
}

.article .edit-button{
  margin-right: 10px;
}

.article .body{
  display: block;
  padding: 0 10px;
  font-family:fantasy;
  font-size: 18px;
  color: #414141;
}

.article .footer{
  padding: 10px;
}

.article .read-more{
  color: #02A8F6;
  cursor: pointer;
}



/** Form */
.article-form{
  margin: 10px 15px;
  padding: 10px;
}

.article-form .header{
  padding: 10px;
  margin: 10px 0;
}

.article-form label{
  color: silver;
  font-size: 18px;
  margin: 10px;
}

.article-form .body{
  padding: 0 10px;
}

.article-form .input-header{
  width: 100%;
  font-size: 18px;
  font-family: sans-serif;
  color: #000;
  padding: 5px;
}

.article-form textarea{
  width: 100%;
  resize:"none";
  font-family:fantasy;
  font-size: 18px;
  color: #414141;
  padding: 5px;
}

.article-form .buttons{
  padding: 0 10px;
}

.article-form button{
  width: 80px;
  border: 2px solid #bbb;
  padding: 10px 12px;
  font-size: 16px;
  margin: 10px 0;
  float: right;
}

.article-form button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.article-form button.submit-button{
  background: gray;
  color: #bbb;
  margin-left: 10px;
}

.article-form button.submit-button{
  background: green;
  color: #fafafa;
}
